/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(242, 198, 222, 0.3);
    font-family: "League Spartan", sans-serif;
    font-weight: 400;

}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    margin: 1%;
    font-weight: 400;
}

input {
    text-align: center;
    border-radius: 5px;
    font-size: 100%;
    padding: 3%;
    border: solid black 1px;
}

/* Header styles*/
header {

    display: flex;
    background-color: #C9E4DE;
    border: solid 1px black;
    justify-content: space-between;
}

header img {
    width: 15%;
}

/* Search, login and register styles */
form {
    display: flex;
    align-items: center;
}

/*DEAL WITH REPETITIVE BUTTON STYLES*/
button {

    background-color: #F2C6DE;
    padding: 1%;
    height: 100%;
    border: black 1px solid;
    font-size: large;
    border-radius: 5px;
}

.submitButton {
    padding: 2%;
    width: 50%;

}

div#tc {
    width: 90%;
    font-size: small;
}

/* Search bar styles */
.search {
    justify-content: center;
    width: 45%;
}

.search input {
    width: 90%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    border: none;
}


.search div {
    border: black solid 1px;
    width: 90%;
    display: flex;
    justify-content: center;
    height: 30%;
    border-radius: 5px;
}

.search button {
    border-radius: 0 5px 5px 0;
    font-size: medium;
    border: none;
}

/* Login and register styles*/
.logReg {
    display: flex;
    justify-content: center;
}

.logReg form {
    display: flex;
    flex-flow: column nowrap;
    background-color: #C9E4DE;
    border: solid black 1px;
    border-radius: 5px;
    padding: 5%;
    justify-content: space-around;
}

.logReg div {
    display: flex;
    flex-direction: column;
    margin: 10%;
    font-size: larger;
}

.logReg input {
    margin-top: 8%;
}

.logReg p {
    text-align: center;
}
.valid{
    color: red;
}

/* Navigator styles */
.navigator {
    width: 35%;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    font-size: small;
    background-color: #F2C6DE;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2%;
    width: 20%;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
}


/* Main page*/

.recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.recipes article {
    display: inline-block;
    width: 20%;
    margin: 1.5%;
}

.recipes p {
    color: darkgray;
    ;
    margin: 1%;
}

.recipes a {
    color: gray;
}

img {
    width: 100%;
}

/* Detail styles*/
.categories {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    justify-content: center;
}

.categories article {
    border: black 1px solid;
    padding: 5px;
    background-color: #F2C6DE;
    border-radius: 5px;
    margin: 0 1% 1% 1%;
}

.detail {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 2%;
}

.detail section {
    padding: 1%;
}

.instruction {
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 50vh;
    justify-content: space-evenly;
}

#time {
    order: 1;
}

/* Category page styles */
.categoryPage {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    justify-content: center;
}

.categoryPage article {
    width: 30%;
    text-align: center;
    font-size: xx-large;
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
    border: solid black 1px;
    background-color: #C9E4DE;
}

/* Footer styles */
footer {
    background-color: #C9E4DE;
    border: solid 1px black;
    font-size: x-large;
    padding: 1%;
}

/* Hamburger menu */
.hamburger {
    display: none;
}

/* Responsive for tablet */
@media (max-width: 768px) {
    .recipes article {
        width: 40%;
    }

    .navigator {
        display: none;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .hamburger img {
        width: 70%;
    }

    .categoryPage article {
        width: 45%;
    }

}

/* Responsive mobile */
@media (max-width: 420px) {
    .recipes article {
        width: 80%;
    }

    .search {
        width: 60%;
    }

    .search button {
        font-size: x-small;
    }

    .search div {
        height: 40%;
        font-size: x-small;
    }

    .categoryPage article {
        width: 85%;
    }

    .detail section {
        font-size: small;
    }

    .detail h1 {
        font-size: larger;
    }
}