/* General styles */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgba(242, 198, 222, 0.2);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0 1% 0 ;
}
/* Header styles*/
header {
    display: flex;
    background-color: #C9E4DE;
    border: solid 1px black;
    justify-content: space-between;
}

header img {
    width: 15%;
}

/* Search bar styles */
form {
    display: flex;
    align-items: center;
    /*width: 45%; FOR SEARCH BAR FIX FIX FIX*/
    justify-content: center;


}

input {
   /* width: 80%;
    height: 22%; FIX FIX */
    border-radius: 10px;
    padding-left: 30%;
    /*FIX THIS PROPERLY*/
    font-size: medium;
}

button {
   /* width: 10%;
    height: 22%;
    border-radius: 10px;*/
    font-size: medium;
}

/* Navigator styles */
.navigator {
    width: 35%;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    display: flex;
    font-size: x-large;
    background-color: #F2C6DE;
    border: solid 1px black;
    border-radius: 5px;
    padding: 1%;
    width: 20%;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    color: black;

}

/* Main page*/

.recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.recipes article {
    display: inline-block;
    width: 20%;
    margin: 1.5%;
}

.recipes p {
    color: gray;
    margin: 1%;
}

img {
    width: 100%;
}

/* Detail styles*/
.categories {
    display: flex;
    flex-flow: row wrap;
}

.categories article {
    border: red 2px solid;
    margin: 5px;
}
.detail{
    display: flex;
    flex-direction: row-reverse;
    margin: 2%;
}
.detail section{
    padding: 1%;
}
.instruction{
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 50vh;
    justify-content: space-evenly;
}
#time {
    order: 1;
}
/* Category page styles */
.categoryPage{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    justify-content: center;
}
.categoryPage article{
    width: 30%;
    text-align: center;
    font-size: xx-large;
    margin: 1%;
    padding: 1%;
    border: solid black 1px;
    background-color: #C9E4DE;
}
/* Login styles*/
.logReg{
    display: flex;
    justify-content: center;
    height: 100%;
}
.logReg form{
    display: flex;
    flex-flow: column nowrap;
    background-color: #C9E4DE;
    border: solid black 1px;
    border-radius: 5px;
    padding: 5%;
    justify-content: space-around;
}
.logReg div{
  display: flex;
  flex-direction: column;
  margin: 10%;
  font-size: larger;
}
.logReg p{
    text-align: center;
}
/* Footer styles */
footer {
    background-color: #C9E4DE;
    border: solid 1px black;
    font-size: x-large;
}